.app-header {
    width: 100%;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    margin-block-start: rem(20px);

    @include for-mobile-only {
        padding: 0.5rem;
    }

    @include for-wide-layout {
        border-radius: 40px;
        margin-bottom: 1rem;
    }

    .logo {
        font-family: poppins-medium;
        font-size: 1.375rem;
        color: $clr4;
        text-transform: uppercase;

        @include for-mobile-only {
            font-size: 1rem;
        }

        @include for-wide-layout {
            font-size: 1.5rem;
            margin-inline-start: 5rem;
            padding: 1rem
        }
    }

    .page-nav {

        display: none;

        @include for-wide-layout {
            display: flex;
            margin-inline-end: 220px;
            justify-content: flex-end;
            align-items: center;
        }

        a {
            background-color: transparent;
            font-family: poppins-medium;
            color: $clr4;
            font-size: 1.3125rem;
            border-radius: 20px;
            padding-left: 1.3125rem;
            padding-right: 1.3125rem;
            margin-inline-start: 20px;

            &:active {
                color: $clr5;
                background-color: $clr6;
            }
        }
    }
}